{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
	<h1>Login</h1>
	<form method="POST" action="{% url 'accounts:login' %}">
		{% csrf_token %}

		{% if request.GET.next %}
			<input type="hidden" name="next" value="{{ request.GET.next }}">
		{% endif %}

		<p>Username:</p>
		<input type="text" name="username">
		<p>Password:</p>
		<input type="password" name="password">
		{% if error %}
			<p>{{ error }}</p>
		{% endif %}
		{% if success %}
			<p>{{ success }}</p>
		{% endif %}
		<br>
		<input type="submit" value="Login">
	</form>
{% endblock %}