<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
</head>
<body>
	<h1>Sign Up!</h1>
	{% if success %}
		<p>{{ success }}</p>
	{% endif %}
	<form method="POST" action="{% url 'accounts:signup' %}">
		{% csrf_token %}
		<p>Username:</p>
		{% if error_exists %}
			<p>{{ error_exists }}</p>
		{% endif %}
		<input type="text" name="username">
		<p>Email:</p>
		<input type="text" name="email">
		<p>Password:</p>
		<input type="password" name="password1">
		<p>Confirm Password:</p>
		<input type="password" name="password2">
		<br>
		{% if error %}
			<p>{{ error }}</p>
		{% endif %}
		{% if error_name %}
			<p>{{ error_name }}</p>
		{% endif %}
		<input type="submit" value="Signup">
	</form>
</body>
</html>